@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to right, #eef0f1, #87888a); 
  font-family: "Montserrat", sans-serif;
}

/* Desktop */
table {
  table-layout: fixed;
  margin: 25px auto;
  background-color: #fff;
}

th, td {
  width: 250px;
  word-wrap: break-word;
}

table tbody tr:nth-child(odd) {
  background-color: #f4f4f7;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  
}

.content-table thead tr {
  color: #333;
  text-align: left;
}

.content-table thead tr p {
  display: inline-block;
}


th, td {
  border: 1px solid #87888a;
}

.content-table thead tr th {
  font-weight: normal;
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
}

td {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 760px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none; for accesibility */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* Adding space between rows-groups */
  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    /* Behave like a row */
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%; 
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding: 1rem 0.5rem 1rem 0.63rem;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "First Name" }
  td:nth-of-type(2):before { content: "Last Name" }
  td:nth-of-type(3):before { content: "Age" }
  td:nth-of-type(4):before { content: "Nation" }
  td:nth-of-type(5):before { content: "ID" }
  td:nth-of-type(6):before { content: "E-Mail" }
}