@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: #fff; 
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
}

/* Card */
.card {
  margin: 25px auto;
  height: auto;
  width: 90vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.video {
  position: relative;
}

.content {
  width: auto;
}

img.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  width: 100%;
  background: url(bbb.png) center no-repeat ;
  background-size: cover;
}

.title {
  margin: 1rem 0;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: -2rem;
  right: 0.5rem;
}

.modal-close svg {
  width: 2rem;
  height: 2rem;
}

.modal#play-video:target {
  opacity: 1;
  pointer-events: auto;
}

.video-modal {
  padding: 0.5rem;
  max-width: 400px;
}

.video-modal video {
  width: 100%;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  
  .video-modal {
    padding: 1rem;
    max-width: 800px;
  }
  
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .card {
    flex-direction: row;
    height: 40vh;
    max-width: 70%;
  }

  .video {
    height: 100%;
    width: 100%;
  }


  .screen {
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 3rem;
  }
}